#home{
    /* height: 10%; */
    height: 360px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    background:url("img8.jpg") no-repeat center center/cover;
    position: absolute;
    /* margin-top: 0px; */
    height: 17.25%;
    width: 100%;
    z-index: -1;
    opacity: 70%;
}
#services{
    flex-direction: column;
    margin-bottom: 22px;
}
.services-container{
    margin-top: -70px;
    height: 100%;
}
/* #home{
    height: 360px;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    background:url("img8.jpg") no-repeat center center/cover;
    position: absolute;
    /* margin-top: 0px; */
    /* height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 70%;
} */ 